<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title><%= htmlWebpackPlugin.options.title %></title>
        <%if (htmlWebpackPlugin.options.development) { %>
        <script src="http://localhost:35729/livereload.js"></script>
        <% } %>
    </head>
    <body>

    </body>
</html>